@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color:  #0f172a;
}
#big{
    text-align: center;
}
.centered{
    margin: auto;
    padding: 10px;

}
#search{
    margin: auto;

    max-width: 80vw;
    padding: 10px;
}
#button-center{
    margin: auto;
    
    padding: 10px;}
#list{
    border-radius: 25px;
    border-color: rgb(75, 85, 99);
    margin: auto;
    max-width: 80vw;
    padding: 10px;

}
.hidden{
    display: none;
}